.country-select {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
}

.country-select .flag-icon {
    margin-right: 10px;
}

.country-select button.select-country {
    height: 45px;
    margin-bottom: 5px;
    -webkit-appearance: none;
    background-color: white;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

.country-select button.select-country img {
    margin-left: 8px;
}

.country-select .country-select-list {
    width: 100%;
}